{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      {% block head %}

      {% endblock %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>
      <header>
  <div class="navbar d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 navbar-dark bg-dark shadow-sm">
        <a href="{% url 'index' %}" class="my-0 mr-md-auto font-weight-normal">
          <img src="{% static 'images/testlogo.png' %}" width="60" height="60">
        <a href="/apartments" class="my-0 mr-md-auto font-weight-normal">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
          <strong>Castle Apartments</strong>
        </a>
      <nav class="my-2 my-md-0 mr-md-3">
        {% if user.is_authenticated %}
            {% if user.profile.profile_image == "" %}
                    <img src="{% static 'images/defaultprofilepic.png' %}" width="40" height="40" class="rounded-circle profile-image"/>
                {% else %}
                    <img src="{{ user.profile.profile_image }}" width="40" height="40" class="rounded-circle profile-image"/>
                {% endif %}
            <a href="{% url 'sell_apartment' %}" class="btn btn-primary my-2" >Selja Fasteign</a>
            <a href="/users/profile/{{ user.id }}"class="btn btn-primary my-2" >Prófíll</a>
            <a href="{% url 'logout' %}"class="btn btn-primary my-2" >Útskráning</a>
        {% else %}
            <a href="{% url 'login' %}"class="btn btn-primary my-2" >Innskráning</a>
            <a href="{% url 'register' %}" class="btn btn-primary my-2" >Nýskráning</a>
        {% endif %}
      </nav>
  </div>
</header>
    <main role="main">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            {% block content %}

                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">
        <a href="/apartments" class="my-0 mr-md-auto font-weight-normal">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
          <strong>Castle Apartments</strong>
        </a>
  </div>
</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'js/apartments.js' %}"></script>
  </body>
</html>
